.home .banner {
    height: 300px;
    width: 75%;
    margin: 0 auto;
    position: relative;

    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
}

.home .banner::after {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;

    background: url(./images/banner.jpg);
    background-position: center;
    background-size: cover;
}

.home .banner h1 {
    font-size: 4rem;
    padding-top: 50px;
}

.home .banner p {
    font-size: 2rem;
}